body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.link {
  transform: scale(1, 1);
}

.link:hover {
  transition: all .1s ease-in-out;
  transform: scale(1.02, 1.02);
}

.linkClick {
  transition: all .1s ease-in-out;
  transform: scale(1.02, 1.02);
}

.MuiAppBar-root {
  height: 64px;
  background-color: #161616 !important;
}

.background-grad {
  background: rgb(0, 255, 94);
  background: linear-gradient(180deg, rgb(11, 58, 29) 0%, rgba(0, 255, 214, 1) 100%);
}

.wallet-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}